@model IEnumerable<Employee>
@{ 
    ViewData["title"] = "List Of Employees";
}
<div>
    
    <br />
    <h2>@ViewBag.Message</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Employee ID</th>
                <th>Employee Name</th>
                <th>Employee Salary</th>
                <th>Employee Department</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Employee item in ViewBag.Employees)
            {
                var prams = new Dictionary<string, string>{
                    {"myid",item.Id.ToString()},
                    {"name",item.Name}
                };
                <tr>
                    <td><a asp-all-route-data="prams" asp-action="TestMethod">@item.Id</a></td>
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.Salary)</td>
                    <td>@Html.DisplayFor(modelItem => item.Department)</td>
                </tr>
            }
        </tbody>
    </table>
   
</div>